<footer th:fragment="copy" class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Con&eacute;ctate a nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img th:src="@{/images/logo2.png}" alt="logo2" class="logo2">
            <p>
              ¡A recorrer el Per&uacute;! Descubre todo lo que puedes 
              conocer en cada una de las regiones.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Destinos
            </h6>
            <p>
              <a href="#!" class="text-reset">Macchupicchu</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mancora</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Huascar&aacute;n</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lago Titicaca</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Regiones
            </h6>
            <p>
              <a href="#!" class="text-reset">Cusco</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Piura</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Huaraz</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Puno</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Cont&aacute;ctenos
            </h6>
            <p><i class="fas fa-home me-3"></i> Lima, San Isidro, Per&uacute;</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@mincetur.gob.pe
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 513 6100</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" target="_blank" href="https://www.mincetur.gob.pe/">mincetur.gob.pe</a>
    </div>
    <!-- Copyright -->
  </footer>