.logo{
    float: left;
    display: inline;
}

ul.menu {
    list-style-type: none;
    background-image: url(navi_bg.png);
    height: 80px;
    width: 663px;
    margin: auto;
}

ul.menu li {
    float: left;
}

ul.menu a {
    background-color: #bf0909;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    color: wheat;
}

ul.menu a:hover {
    color: #FFF;
}